* {
  margin: 0;
  padding: 0;
}

/* Basic styles, change according to your style */
body{
background-color: #eff1f5;
}
html {
  width:100vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

/* HERE STARTS THE CSS OF THE BUTTONS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#restart-btn, #guess-btn,#start{
  padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
#restart-btn:hover,
#guess-btn:hover,
#start:hover {
  background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
#restart-btn:hover,
#guess-btn:hover,
#start:hover {
 transform: translateY(-1px);
}

#start-page,
#lose-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

#lose-page {
  display: none;
}

#notes-input{
  height: 80vh;
  width:25vw;
}


.hidden {
  display: none;
}

.shown {
  display: flex;
}
/* BUTTONS LEFT SIDE */

ul li{
  align-content: center;
  padding:10px;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  max-width: 3vh;
  max-height: 3vh;
  margin:10px;
}

#table-container{
  height: 80vh;
}