* {
  margin: 0;
  padding: 0;
}

/* Basic styles, change according to your style */
body{
background-color: #f7f7f7;
}
html {
  width:100vw;
  height: 100vh;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  display: flex;
  justify-content:space-between;
  color:#616060
}
#start-page,
#lose-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
}

#lose-page {
  display: none;
  height: 90vh;
}
.hidden {
  display: none;
}

.shown {
  display: flex;
}
.page {
  margin:15px 40px;
  width:25vw;
}
#pages{
  display:flex;
  justify-content:space-between;
  width:100%;
}
/* START PAGE */
#start-page{
  justify-content: center;
}
#start-page h1{
  margin-bottom: 10vh;
}
/* LOSE PAGE */

#restart-btn-lose{
  width:20vw;
  margin:30px 0;
  padding: 1.3em 3em;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #616060;
    background-color: rgb(254, 251, 251);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 0.6em 1.45em 0.7em;
}
#lose-image{
  max-height: 20vh;
  margin:50px 0;
}
/* NAV CSS3 */
nav {
  display:flex;
  justify-content: center;
  background-color: rgb(249, 219, 219);
  width: 100vw;
}
#h1nav{
font-size: 4rem;
letter-spacing: 1rem;
display: inline-block;
border-bottom: 2px solid #616060 ;
padding: 0;
margin-bottom: 10px;
}
/* HERE STARTS THE CSS OF THE BUTTONS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#restart-btn, #guess-btn,#start{
  padding: 1.3em 3em;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #616060;;
    background-color: rgb(254, 251, 251);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding:0.6em 1.45em 0.7em;
    margin: 10px 0;
}
#restart-btn-lose:hover,#restart-btn:hover, #guess-btn:hover, #start:hover {
    background-color: #79d2ae;
    box-shadow: 0px 15px 20px rgba(83, 180, 141, 0.4);
    color: rgb(249, 242, 242);
    transform: translateY(-7px);
}
#restart-btn:hover {
  background-color: #e68b90;
  box-shadow: 0px 15px 20px #e68b90;
  color: rgb(249, 242, 242);
  transform: translateY(-7px);
}
#restart-btn-lose,#restart-btn:hover,
#guess-btn:hover,
#start:hover {
 transform: translateY(-1px);
}
#start{
  font-size: 2rem;
  font-weight: bolder;
  color:#616060;
  margin-bottom: 30vh;
}
/* LEFT SIDE */
#left-page{
  display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 25vw;
    align-items: baseline;

}
#instructions-container {
  height: auto;
  width: 20vw;
  background: #fff;
  color: #525865;
  border-radius: 15px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 0.9rem;
  line-height: 1.45;
  outline: none;
  padding: 1em 1.45em 1em;
  margin-bottom: 10px;
}
ul {
  list-style-type: none;
  display : flex;
  flex-direction: column;
  flex-wrap: wrap;
}
ul li{
  align-content: center;
  padding:10px;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  max-height: 2vh;
  margin:7px;
}
#discard-buttons-container {
  display: flex;
  max-height: 50vh;
  width: 10vw;
  margin: 0 20px;
  justify-content: center;
}
.white{
  padding: 1em 2em;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #616060;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 45%;
    text-align: center;
}
.white:hover{
      background-color: #e68b90;
      box-shadow: 0px 15px 20px rgba(180, 83, 83, 0.4);
      color: rgb(249, 242, 242);
      transform: translateY(-7px);
}
.white:focus{
  background-color: #e68b90;
  box-shadow: 0px 15px 20px rgba(83, 180, 141, 0.4);
  color: rgb(249, 242, 242);
  transform: translateY(-7px);
}
.red{
  background-color: #e68b90;
  padding: 1em 2em;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #616060;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 45%;
  text-align: center;
}
.red:hover {
  background-color: #79d2ae;
  box-shadow: 0px 15px 20px #79d2ae;
  color: rgb(249, 242, 242);
  transform: translateY(-7px);
}
.red:focus {
  background-color: #79d2ae;
  box-shadow: 0px 15px 20px #79d2ae;
  color: rgb(249, 242, 242);
  transform: translateY(-7px);
}
.green{
  background-color: #79d2ae;
  padding: 1em 2em;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #616060;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 45%;
  text-align: center;
}
.green:hover {
  background-color: #f5f5f5;
  box-shadow: 0px 15px 20px #dbdada;
  color: #616060;
  transform: translateY(-7px);
  border:#acacac;
  border-style: solid;
}
.green:focus {
  background-color: #f5f5f5
  box-shadow: 0px 15px 20px #d1d1d1;
  color: rgb(249, 242, 242);
  transform: translateY(-7px);
}
/* CENTRAL PAGE*/
#table-container{
  height:45vh;
}
table {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;
  box-shadow: 0 0 20px #e0e0e0;
  border-collapse: collapse;
}
#headingRow{
  font-weight: lighter;
  font-size: 1.2rem;
  background-color: rgb(244, 225, 225);
}
tr {
  background-color: #f8f0f1;
  color: #616060;
}
table>th,table>td{
  padding:12px 15px;
}
#styled-table tbody tr:nth-of-type(even){
  background-color:#fbf6f6;
}
h2{
  text-align: center;
  border-bottom: #616060;
}
.central-page{
  display: flex;
  flex-direction: column;
  max-width: 25vw;
  align-items: center;
}
.guess-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 .guess-input{
  background: #fff;
    color: #525865;
    border-radius: 45px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1.5em;
    line-height: 1.45;
    outline: none;
    padding: 0.6em 1.45em 0.7em;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    text-align: center;
  }
  input:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
  }
  
  input:focus {
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
 }
/*RIGHT PAGE CSS */
#right-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 25vw;
  align-items: center;
  padding:0;
  margin-bottom: 20vh;
}

#notes-input {
  height: 40vh;
  width: 20vw;
  background: #fff;
    color: #525865;
    border-radius: 15px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1.5em;
    line-height: 1.45;
    outline: none;
    padding: 0.6em 1.45em 0.7em;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    margin-top: 15px;;
  }

  #notes-input:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
  }
  #notes-input:focus {
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}