* {
  margin: 0;
  padding: 0;
}

/* Basic styles, change according to your style */
body{
background-color: #eff1f5;
}
html {
  width:100vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}
#start-page,
#lose-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

#lose-page {
  display: none;
}
.hidden {
  display: none;
}

.shown {
  display: flex;
}
div{
  margin:20px;
}
/* NAV CSS3 */
nav {
  display:flex;
  justify-content: center;
  background-color: rgb(249, 219, 219);
}
#h1nav{
font-size: 4rem;
}
/* HERE STARTS THE CSS OF THE BUTTONS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#restart-btn, #guess-btn,#start{
  padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
#restart-btn:hover,
#guess-btn:hover,
#start:hover {
  background-color: #79d2ae;
    box-shadow: 0px 15px 20px rgba(83, 180, 141, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
#restart-btn:hover,
#guess-btn:hover,
#start:hover {
 transform: translateY(-1px);
}






/* BUTTONS LEFT SIDE */
ul {
  list-style-type: none;
  display : flex;
  flex-direction: column;
  flex-wrap: wrap;
}


ul li{
  align-content: center;
  padding:10px;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  max-height: 3vh;
  margin:10px;
}
#discard-btn{
  padding: 1.3em 3em;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 10px;
}
#discard-buttons-container{
  display:flex;
  max-height: 60vh;
  width: 10vw;
  margin-bottom: 20px;
}
/* TABLE CONTAINER CSS */
#table-container{
}
/* RIGTH PAGE CSS */
#notes-input {
  height: 60vh;
  width: 25vw;
}